{{ srv_name }}:
  image: "{{ docker_image }}"
  user: "{{ deploy_user.stat.uid }}:{{ deploy_user.stat.gid }}"
  net: "host"
  ports:
    - "8300:8300"
    - "8301:8301"
    - "8301:8301/udp"
    - "8302:8302"
    - "8302:8302/udp"
    - "8400:8400"
    - "8500:8500"
    - "8600:8600"
    - "8600:8600/udp"
  environment:
    RUN_MODE_SERVER: "True"
    DATACENTER: "{{ consul.dc }}"
    EXTERNAL_IP: "{{ ansible_default_ipv4.address }}"
    TOKEN: "{{ consul.token }}"
    UI_ENABLE: "True"
  volumes:
    - "{{ deploy_user.stat.path }}/data:/var/opt/consul"
    - "{{ deploy_user.stat.path }}/config:/opt/consul/config"
  command: "consul agent -config-dir /opt/consul/config -bootstrap-expect {{ consul.nodes }}{% if dont_join is undefined %} -join {{ consul.first_node_ip }}{% endif %}"
