PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
http_proxy="{{ proxy_env.http_proxy }}"
https_proxy="{{ proxy_env.https_proxy }}"
ftp_proxy="{{ proxy_env.ftp_proxy }}"
no_proxy="{{ proxy_env.no_proxy }}"
