# redis-server - Redis server

description "Redis Server"

env USER=redis
env EXEC={{ srv_home }}/bin/redis-server
env CONF=/etc/redis.conf

start on filesystem or runlevel [23]
stop on runlevel [!23]

respawn

exec sudo -u $USER sh -c "$EXEC $CONF 2>&1 >> {{ srv_log_dir }}/redis.log"

post-start script
    PID=`status redis-server | egrep -oi '([0-9]+)$' | head -n1`
    echo $PID > {{ pid_file }}
end script

post-stop script
    rm -f {{ pid_file }}
end script
