{{ srv_name }}:
  image: "{{ docker_image }}"
  user: "{{ deploy_user.stat.uid }}:{{ deploy_user.stat.gid }}"
  net: "host"
  ports:
    - "2181:2181"
    - "2888:2888"
    - "3888:3888"
  environment:
    SERVICE_TAGS: "{{ run_env }}"
    SERVER_JVMFLAGS: "-Xms1g -Xmx2g"
{% if zoo_cluster %}
    ZOO_ID: {{ hostvars[inventory_hostname].zoo_id }}
    ZOO_SERVERS: "{{ zoo_servers }}"
{% endif %}
  volumes:
    - "{{ deploy_user.stat.path }}/data:/var/zookeeper"
    - "{{ deploy_user.stat.path }}/config:/opt/zookeeper/conf"
