#jinja2:variable_start_string:'[%' , variable_end_string:'%]'

ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_ciphers ALL:!ADH:!EXP:!LOW:!RC2:!3DES:!SEED:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM:!RC4:+HIGH:+MEDIUM;
ssl_prefer_server_ciphers on;

ssl_session_cache shared:SSL:10m;
ssl_session_timeout 10m;

upstream [% app_name %]_server { {{range service "[% run_env %].[% app_name %]"}}
    server localhost:{{.Port}};{{end}}
}

server {
    listen 443;
    server_name [% inventory_hostname %];

    ssl on;
    ssl_certificate /etc/ssl/certs/barcode-mobile.crt;
    ssl_certificate_key /etc/ssl/private/barcode-mobile.key;

    access_log /var/log/nginx/[% app_name %]-access.log;
    error_log  /var/log/nginx/[% app_name%]-error.log;

    client_header_buffer_size 128k;
    client_max_body_size      8m;

    location = /favicon.ico {
        log_not_found off;
        access_log    off;
    }

    location = /robots.txt {
        allow         all;
        log_not_found off;
        access_log    off;
    }

    location / {
        access_log off;

        proxy_pass http://[% app_name %]_server;
        proxy_redirect off;
        proxy_buffering off;

        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_http_version 1.1;
    }
}
