{{ app_name }}:
  image: "{{ docker_image }}"
  user: "{{ deploy_user.stat.uid }}:{{ deploy_user.stat.gid }}"
  ports:
    - "9092:9092"
  environment:
    ADVERTISED_HOST: {{ ansible_default_ipv4.address }}
    BROKER_ID: {{ hostvars[inventory_hostname].broker_id }}
{% if zoo_cluster %}
    NUM_PARTITIONS: {{ groups['zookeeper_nodes']|length}}
    ZOO_CONNECT: "{% for host in groups['zookeeper_nodes'] %}{{ host }}:2181{% if not loop.last %},{% endif %}{% endfor %}"
{% else %}
    NUM_PARTITIONS: 1
    ZOO_CONNECT: {{ ansible_default_ipv4.address }}:2181
{% endif %}
  volumes:
    - "{{ deploy_user.stat.path }}/data:/var/opt/kafka"
    - "{{ deploy_user.stat.path }}/config:/opt/kafka/config"
