{{ srv_name }}:
  image: "{{ docker_image }}"
  user: "{{ deploy_user.stat.uid }}:{{ deploy_user.stat.gid }}"
  net: "host"
  ports:
    - "9092:9092"
  environment:
    SERVICE_TAGS: "{{ run_env }}"
    RUN_ENV: "{{ run_env }}"
    ADVERTISED_HOST: {{ ansible_default_ipv4.address }}
    PUBLIC_IP: {{ ansible_default_ipv4.address }}
    BROKER_ID: {{ hostvars[inventory_hostname].broker_id }}
    REPLICATION_FACTOR: {{ kafka_replication_factor }}
  volumes:
    - "{{ deploy_user.stat.path }}/data:/var/kafka"
    - "{{ deploy_user.stat.path }}/config:/opt/kafka/config"
